# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
ENV/

# VSCode / PyCharm
.vscode/
.idea/

# MacOS
.DS_Store

# Docker
*.log

# Notebook Jupyter Checkpoints
.ipynb_checkpoints/

#Ignorar archivo Docker
docker/


